.scrollable-container {
   max-height: 500px; /* Set the maximum height of the container */
   overflow-y: auto; /* Enable vertical scrolling */
   scrollbar-width: thin; /* Set the width of the scrollbar */
   scrollbar-color: rgba(155, 155, 155, 0.5) rgba(255, 255, 255, 0.1); /* Set the color of the scrollbar */
 }
 
 /* Track */
 .scrollable-container::-webkit-scrollbar-track {
   background: rgba(255, 255, 255, 0.1); /* Color of the track */
 }
 
 /* Handle */
 .scrollable-container::-webkit-scrollbar-thumb {
   background: rgba(155, 155, 155, 0.5); /* Color of the scrollbar handle */
   border-radius: 10px; /* Rounded corners */
 }
 
 /* Handle on hover */
 .scrollable-container::-webkit-scrollbar-thumb:hover {
   background: rgba(155, 155, 155, 0.8); /* Color of the scrollbar handle on hover */
 }
 